.DS_Store
.editorconfig
.nrepl-port
/node_modules/
.vscode
.backups
.clj-kondo/
.lsp/
.cpcache/
.clerk/
msg.txt
codox/
/target
/_scrap
hs_err_pid*
/notebooks/clerk_doc.clj
.rebel_readline_history
package.json
package-lock.json
