{:paths ["src" "bb"]
 :tasks
 {:requires ([tasks])
  instafix
  {:doc "formula.ebnf -> formula.cljc (instaparse fix for ClojureScript)"
   :task (tasks/grammar->cljc "formform/io/formula.ebnf"
                              {:parser-opts {:auto-whitespace :standard}})}}}
