{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        ; meander/epsilon {:mvn/version "0.0.650"}
        instaparse/instaparse {:mvn/version "1.4.12"}}
 :aliases
 {:neil
  {:project {:name eu.formsandlines/formform
             :version "0.1.0"}}

  :dev
  {:extra-paths ["dev" "test" "notebooks"]
   :extra-deps {orchestra/orchestra {:mvn/version "2021.01.01-1"}
                io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}

  ; :test ;; added by neil
  ; {:extra-paths ["test"]
  ;  :extra-deps {io.github.cognitect-labs/test-runner
  ;               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
  ;  :main-opts ["-m" "cognitect.test-runner"]
  ;  :exec-fn cognitect.test-runner.api/test}

  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args {:name "formform"
               :version "0.1.0"
               :description "Clojure(Script) library to represent, transform and evaluate all the FORMs of uFORM iFORM"
               :output-path "../formform-www/docs"
               :doc-paths ["docs"]
               :namespaces [formform.calc
                            formform.expr
                            formform.io]
               :metadata {:doc/format :markdown
                          :doc "FIXME: write docs"}
               :source-uri "https://github.com/formsandlines/formform/blob/main/{filepath}#L{line}"
               :source-paths ["src"]}}

  :clerk
  {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}
   :exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/*"]
               :index "index.clj"
               :out-path "../formform-www"}}

  :build ;; added by neil
  {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}}}
