{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ;; org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}
        org.clojure/core.match {:mvn/version "1.1.0"}
        org.clojure/test.check {:mvn/version "1.1.1"}
        ;; meander/epsilon {:mvn/version "0.0.650"}
        instaparse/instaparse {:mvn/version "1.5.0"}}
 :aliases
 {:neil
  {:project {:name eu.formsandlines/formform
             :version "0.2.0"}}

  :dev
  {:extra-paths ["dev" "test" "notebooks"]
   :extra-deps {orchestra/orchestra {:mvn/version "2021.01.01-1"}
                io.github.nextjournal/clerk {:git/sha "1b8f844e29a06ab1ff82bb95e4310c0c94b8ebdb"}}}

  :debug  ;; flow-storm (merge with :dev?)
  {:classpath-overrides {org.clojure/clojure nil} ;; for disabling the official compiler
   :extra-deps {com.github.jpmonettas/clojure {:mvn/version "1.11.1-7"}
                com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.6.10"}}
   :jvm-opts [; "-Dflowstorm.startRecording=true"
              "-Dclojure.storm.instrumentEnable=true"
              "-Dclojure.storm.instrumentOnlyPrefixes=formform,user"]} ; ,user

  ;; :test ;; added by neil
  ;; {:extra-paths ["test"]
  ;;  :extra-deps {io.github.cognitect-labs/test-runner
  ;;               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
  ;;  :main-opts ["-m" "cognitect.test-runner"]
  ;;  :exec-fn cognitect.test-runner.api/test}

  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args {:name "formform"
               :version "0.2.0"
               :description "Clojure(Script) library to represent, transform and evaluate all the FORMs of uFORM iFORM"
               :output-path "../formform-www/docs"
               :doc-paths ["docs"]
               :namespaces [formform.calc
                            formform.expr
                            formform.emul
                            formform.io]
               :metadata {:doc/format :markdown
                          :doc "FIXME: write docs"}
               :source-uri "https://github.com/formsandlines/formform/blob/main/{filepath}#L{line}"
               :source-paths ["src"]}}

  :clerk
  {:extra-paths ["notebooks"]
   :extra-deps {io.github.nextjournal/clerk {:git/sha "1b8f844e29a06ab1ff82bb95e4310c0c94b8ebdb"}}
   :exec-fn nextjournal.clerk/build!
   :exec-args {:paths ["notebooks/introduction.clj"
                       "notebooks/introduction_emul.clj"]
               :index "notebooks/index.clj"
               ;; :ssr true ; lacks basic hydration → unusable
               ;; :package :single-file
               :package :directory
               ;; :compile-css true ; fails to compile classes in .cljs ns
               :out-path "../formform-www/clerk"}}

  :build ;; added by neil
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.11" :git/sha "c6c670a"}
          slipset/deps-deploy {:mvn/version "RELEASE"}}
   :ns-default build}}}
