{ ;; p. 84, uFORM iFORM (en)
 :Mark1-r25t20
 [[:n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n]
  [:i :i :i :i :i :i :i :i :i :m :m :i :i :m :i :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :i :i :u :n :u :n :u :u :n :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :i :m :u :m :m :m :i :m :i :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :u :i :i :n :n :u :u :u :n :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :m :m :n :m :i :m :i :i :m :i :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :u :n :m :m :u :u :u :n :u :u :n :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :m :u :m :n :i :n :i :m :m :i :m :i :i :i :i :i :i :i :i :i :i :i]
  [:i :i :u :i :i :m :i :m :m :u :n :u :u :u :n :i :i :i :i :i :i :i :i :i :i]
  [:i :m :m :n :u :u :u :n :i :u :m :i :i :m :i :i :i :i :i :i :i :i :i :i :i]
  [:u :n :m :u :i :i :m :i :m :i :u :n :u :u :n :i :i :i :i :i :i :i :i :i :i]
  [:u :m :i :m :n :u :u :u :u :m :u :m :i :m :i :i :i :i :i :i :i :i :i :i :m]
  [:i :u :u :m :u :i :i :i :i :i :i :u :u :u :n :i :i :i :i :i :i :i :i :u :i]
  [:m :n :i :i :m :n :i :i :i :i :m :n :i :m :i :i :i :i :i :i :i :i :m :m :n]
  [:m :i :i :u :m :i :i :i :i :u :m :i :u :u :n :i :i :i :i :i :i :u :n :m :m]
  [:u :n :m :i :u :n :i :i :m :i :u :m :n :m :i :i :i :i :i :i :m :u :m :n :n]
  [:m :m :u :m :u :i :i :u :u :m :i :m :m :u :n :i :i :i :i :u :i :i :m :n :m]
  [:n :i :i :i :m :n :m :n :i :u :u :n :i :u :i :i :i :i :m :m :n :u :m :m :n]
  [:m :i :i :u :m :m :m :i :m :n :m :i :m :m :n :i :i :u :n :m :u :i :n :m :n]
  [:u :n :m :i :n :n :u :u :m :m :u :u :n :m :i :i :m :u :m :i :m :i :m :m :m]]

 ;; p. 103, uFORM iFORM (en)
 :Slit-r27t20
 [[:n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :n :n :i :u :u :n :u :u :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :n :i :u :m :u :n :u :m :u :i :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :i :u :u :n :m :n :m :n :u :u :i :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :i :u :u :n :u :u :i :n :i :u :u :n :u :u :i :n :n :n :n :n :n]
  [:n :n :n :n :n :i :u :m :u :n :u :m :u :n :u :m :u :n :u :m :u :i :n :n :n :n :n]
  [:n :n :n :n :i :u :u :n :m :n :m :n :m :n :m :n :m :n :m :n :u :u :i :n :n :n :n]
  [:n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n]
  [:n :n :i :u :u :n :u :u :i :n :n :n :n :n :n :n :n :n :i :u :u :n :u :u :i :n :n]
  [:n :i :u :m :u :n :u :m :u :i :n :n :n :n :n :n :n :i :u :m :u :n :u :m :u :i :n]
  [:i :u :u :n :m :n :m :n :u :u :i :n :n :n :n :n :i :u :u :n :m :n :m :n :u :u :i]
  [:m :m :u :i :n :n :n :i :u :m :u :i :n :n :n :i :u :m :u :i :n :n :n :i :u :m :m]
  [:n :i :u :u :i :n :i :u :u :n :u :u :i :n :i :u :u :n :u :u :i :n :i :u :u :i :n]
  [:i :u :m :m :u :n :u :m :u :n :u :m :u :n :u :m :u :n :u :m :u :n :u :m :m :u :i]
  [:m :u :i :i :m :n :m :n :m :n :m :n :m :n :m :n :m :n :m :n :m :n :m :i :i :u :m]
  [:i :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :i]
  [:m :u :n :u :u :i :n :n :n :n :n :n :n :n :n :n :n :n :n :n :n :i :u :u :n :u :m]
  [:i :m :n :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :n :m :i]
  [:u :i :i :m :n :u :u :i :n :n :n :n :n :n :n :n :n :n :n :i :u :u :n :m :i :i :u]]

 ;; p. 141, uFORM iFORM (en)
 :Rule4v30-r27t11
 [[:n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :n :n :i :m :u :i :n :m :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :n :i :m :u :n :m :u :m :u :i :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :i :m :u :i :i :m :n :i :n :m :i :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :i :m :u :n :m :u :u :u :i :u :m :u :i :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :i :m :u :i :i :m :i :n :i :i :u :i :n :m :i :n :n :n :n :n :n]
  [:n :n :n :n :n :i :m :u :n :m :u :u :u :n :i :u :u :m :u :m :u :i :n :n :n :n :n]
  [:n :n :n :n :i :m :u :i :i :m :i :n :n :m :m :m :i :i :n :i :n :m :i :n :n :n :n]
  [:n :n :n :i :m :u :n :m :u :u :u :i :m :m :n :n :u :n :n :i :u :m :u :i :n :n :n]
  [:n :n :i :m :u :i :i :m :i :n :i :i :u :n :m :u :u :u :i :m :u :i :n :m :i :n :n]
  [:n :i :m :u :n :m :u :u :u :n :i :u :m :i :m :i :n :i :i :u :n :m :u :m :u :i :n]]

 ;; p. 153, uFORM iFORM (en)
 :Structure111Re-r27t20
 [[:n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n]
  [:i :i :i :i :i :i :i :i :i :i :m :m :m :i :m :i :i :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :i :i :i :u :u :n :u :u :u :n :i :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :i :i :m :u :m :m :m :i :m :i :m :i :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :i :u :m :i :i :n :u :u :u :u :u :n :i :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :i :m :m :m :n :m :u :m :i :i :i :m :i :m :i :i :i :i :i :i :i :i]
  [:i :i :i :i :i :u :u :n :m :m :m :i :m :n :i :u :u :u :u :n :i :i :i :i :i :i :i]
  [:i :i :i :i :m :u :m :m :m :n :u :u :m :i :m :u :i :i :m :i :m :i :i :i :i :i :i]
  [:i :i :i :u :m :i :i :n :m :u :m :i :m :u :m :m :i :u :u :u :u :n :i :i :i :i :i]
  [:i :i :m :m :m :n :m :m :m :i :m :u :m :i :i :u :m :u :i :i :m :i :m :i :i :i :i]
  [:i :u :u :n :m :m :m :n :u :u :m :i :m :n :m :m :i :m :i :u :u :u :u :n :i :i :i]
  [:m :u :m :m :m :n :m :u :m :i :m :u :m :m :m :u :u :u :m :u :i :i :m :i :m :i :i]
  [:m :i :i :n :m :m :m :i :m :u :m :i :i :n :i :n :i :i :i :m :i :u :u :u :u :n :u]
  [:m :n :m :m :m :n :u :u :m :i :m :n :m :m :m :m :m :i :u :u :m :u :i :i :m :m :m]
  [:m :m :m :n :m :u :m :i :m :u :m :m :m :n :n :n :u :m :u :i :i :m :i :u :u :n :n]
  [:m :n :m :m :m :i :m :u :m :i :i :n :m :n :i :m :m :i :m :i :u :u :m :u :m :i :m]
  [:m :m :m :n :u :u :m :i :m :n :m :m :m :i :m :u :u :u :u :m :u :i :i :i :m :u :u]
  [:i :n :m :u :m :i :m :u :m :m :m :n :u :u :m :n :i :i :i :i :m :i :i :u :m :n :i]
  [:m :m :m :i :m :u :m :i :i :n :m :u :m :i :m :i :m :i :i :u :u :n :m :m :m :i :m]
  [:n :n :u :u :m :i :m :n :m :m :m :i :m :u :u :u :u :n :m :u :m :m :m :n :u :u :u]]

 ;; p. 163, uFORM iFORM (en)
 :Rule4v110-r25t20
 [[:n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :n :i :m :m :i :m :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :n :i :m :u :u :u :u :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :i :m :m :n :n :n :m :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :i :m :u :m :n :n :m :m :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :i :m :m :i :m :n :m :m :u :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :n :i :m :u :u :u :m :m :m :i :m :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :n :i :m :m :n :n :i :i :n :u :u :u :i :n :n :n :n :n :n :n :n :n :n]
  [:n :n :i :m :u :m :n :i :i :i :u :u :n :m :i :n :n :n :n :n :n :n :n :n :n]
  [:n :i :m :m :i :m :i :i :n :m :u :u :m :m :i :n :n :n :n :n :n :n :n :n :n]
  [:i :m :u :u :u :u :n :i :m :m :n :i :i :u :i :n :n :n :n :n :n :n :n :n :n]
  [:m :m :n :n :n :u :i :m :u :m :i :i :m :m :i :n :n :n :n :n :n :n :n :n :i]
  [:u :m :n :n :u :m :m :m :i :m :n :u :u :u :i :n :n :n :n :n :n :n :n :i :m]
  [:i :m :n :u :m :i :n :u :u :m :u :u :n :m :i :n :n :n :n :n :n :n :i :m :m]
  [:u :m :u :m :m :i :u :u :i :i :n :u :m :m :i :n :n :n :n :n :n :i :m :u :u]
  [:i :i :i :i :u :m :u :m :i :i :u :m :i :u :i :n :n :n :n :n :i :m :m :n :n]
  [:i :n :n :m :m :i :i :m :n :m :m :m :m :m :i :n :n :n :n :i :m :u :m :n :i]
  [:i :n :m :m :u :n :u :m :m :m :n :n :n :u :i :n :n :n :i :m :m :i :m :i :i]
  [:i :m :m :i :u :u :m :i :n :m :n :n :u :m :i :n :n :i :m :u :u :u :u :n :n]
  [:m :u :u :m :u :i :m :i :m :m :n :u :m :m :i :n :i :m :m :n :n :n :u :n :i]]

 ;; p. 130, uFORM iFORM (en)
 :xorReId-r27t20
 [[:n :n :n :n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n :n :n :n]
  [:u :u :u :u :u :u :u :u :u :u :m :u :u :u :u :u :m :u :u :u :u :u :u :u :u :u :u]
  [:u :u :u :u :u :u :u :u :u :i :u :i :u :u :u :i :u :i :u :u :u :u :u :u :u :u :u]
  [:u :u :u :u :u :u :u :u :m :u :u :u :m :u :m :u :u :u :m :u :u :u :u :u :u :u :u]
  [:u :u :u :u :u :u :u :i :u :i :u :i :u :n :u :i :u :i :u :i :u :u :u :u :u :u :u]
  [:u :u :u :u :u :u :m :u :u :u :u :u :m :u :m :u :u :u :u :u :m :u :u :u :u :u :u]
  [:u :u :u :u :u :i :u :i :u :u :u :i :u :n :u :i :u :u :u :i :u :i :u :u :u :u :u]
  [:u :u :u :u :m :u :u :u :m :u :m :u :m :u :m :u :m :u :m :u :u :u :m :u :u :u :u]
  [:u :u :u :i :u :i :u :i :u :n :u :n :u :n :u :n :u :n :u :i :u :i :u :i :u :u :u]
  [:u :u :m :u :u :u :u :u :m :u :u :u :u :u :u :u :u :u :m :u :u :u :u :u :m :u :u]
  [:u :i :u :i :u :u :u :i :u :i :u :u :u :u :u :u :u :i :u :i :u :u :u :i :u :i :u]
  [:m :u :u :u :m :u :m :u :u :u :m :u :u :u :u :u :m :u :u :u :m :u :m :u :u :u :m]
  [:i :i :u :i :u :n :u :i :u :i :u :i :u :u :u :i :u :i :u :i :u :n :u :i :u :i :i]
  [:u :m :u :u :m :u :m :u :u :u :u :u :m :u :m :u :u :u :u :u :m :u :m :u :u :m :u]
  [:i :u :i :i :u :n :u :i :u :u :u :i :u :n :u :i :u :u :u :i :u :n :u :i :i :u :i]
  [:m :u :m :m :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :m :m :u :m]
  [:i :n :i :n :i :n :u :n :u :n :u :n :u :n :u :n :u :n :u :n :u :n :i :n :i :n :i]
  [:m :u :u :u :u :m :u :u :u :u :u :u :u :u :u :u :u :u :u :u :u :m :u :u :u :u :m]
  [:i :i :u :u :i :u :i :u :u :u :u :u :u :u :u :u :u :u :u :u :i :u :i :u :u :i :i]
  [:u :m :m :m :u :u :u :m :u :u :u :u :u :u :u :u :u :u :u :m :u :u :u :m :m :m :u]]

 ;; p. 123, uFORM iFORM (en)
 :or4v-r21t19
 [[:n :n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :n :i :u :m :u :m :u :i :n :n :n :n :n :n :n]
  [:n :n :n :n :n :n :i :u :m :u :m :u :m :u :i :n :n :n :n :n :n]
  [:n :n :n :n :n :i :u :m :u :m :u :m :u :m :u :i :n :n :n :n :n]
  [:n :n :n :n :i :u :m :u :m :u :m :u :m :u :m :u :i :n :n :n :n]
  [:n :n :n :i :u :m :u :m :u :m :u :m :u :m :u :m :u :i :n :n :n]
  [:n :n :i :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :i :n :n]
  [:n :i :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :i :n]
  [:i :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :i]
  [:m :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :m]
  [:m :m :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :m :m]
  [:m :m :m :m :u :m :u :m :u :m :u :m :u :m :u :m :u :m :m :m :m]
  [:m :m :m :m :m :u :m :u :m :u :m :u :m :u :m :u :m :m :m :m :m]
  [:m :m :m :m :m :m :u :m :u :m :u :m :u :m :u :m :m :m :m :m :m]
  [:m :m :m :m :m :m :m :u :m :u :m :u :m :u :m :m :m :m :m :m :m]
  [:m :m :m :m :m :m :m :m :u :m :u :m :u :m :m :m :m :m :m :m :m]
  [:m :m :m :m :m :m :m :m :m :u :m :u :m :m :m :m :m :m :m :m :m]
  [:m :m :m :m :m :m :m :m :m :m :u :m :m :m :m :m :m :m :m :m :m]
  [:m :m :m :m :m :m :m :m :m :m :m :m :m :m :m :m :m :m :m :m :m]]

 ;; p. 151, uFORM iFORM (en)
 :Rule4v111-r19t19
 [[:n :n :n :n :n :n :n :i :u :m :u :i :n :n :n :n :n :n :n]
  [:m :m :m :m :m :m :m :m :m :i :m :i :u :m :m :m :m :m :m]
  [:n :n :n :n :n :n :n :n :u :u :u :m :m :i :n :n :n :n :n]
  [:m :m :m :m :m :m :m :m :m :i :i :i :u :i :u :m :m :m :m]
  [:n :n :n :n :n :n :n :n :u :n :u :m :m :m :m :i :n :n :n]
  [:m :m :m :m :m :m :m :m :m :m :m :i :n :n :u :i :u :m :m]
  [:n :n :n :n :n :n :n :n :n :n :u :i :u :m :m :m :m :i :n]
  [:m :m :m :m :m :m :m :m :m :m :m :m :m :i :n :n :u :i :u]
  [:i :n :n :n :n :n :n :n :n :n :n :n :u :i :u :m :m :m :m]
  [:i :u :m :m :m :m :m :m :m :m :m :m :m :m :m :i :n :n :u]
  [:m :m :i :n :n :n :n :n :n :n :n :n :n :n :u :i :u :m :m]
  [:n :u :i :u :m :m :m :m :m :m :m :m :m :m :m :m :m :i :n]
  [:m :m :m :m :i :n :n :n :n :n :n :n :n :n :n :n :u :i :u]
  [:i :n :n :u :i :u :m :m :m :m :m :m :m :m :m :m :m :m :m]
  [:i :u :m :m :m :m :i :n :n :n :n :n :n :n :n :n :n :n :u]
  [:m :m :i :n :n :u :i :u :m :m :m :m :m :m :m :m :m :m :m]
  [:n :u :i :u :m :m :m :m :i :n :n :n :n :n :n :n :n :n :n]
  [:m :m :m :m :i :n :n :u :i :u :m :m :m :m :m :m :m :m :m]
  [:n :n :n :u :i :u :m :m :m :m :i :n :n :n :n :n :n :n :n]]}
